@include desktop() {
  .goods {
    margin-bottom: 80px;
    &__inner {
      padding: 70px 0 70px;
    }
    &__item {
      flex-wrap: wrap;
    }
  }
}

@include mobile() {
  .goods {
    &__link {
      width: 200px;
      height: 75px;
    }
  }
}