@include tablet() {
  .news {
    &__title {
      font-size: 35px;
    }

    &__images {
      width: 100%;
    }

    &__descr {
      width: 100%;
      left: 0;
    }
  }
}

@include mobile() {
  .news {
    &__wrapper {
      margin-bottom: 20px;
    }
    &__title {
      font-size: 30px;
      line-height: 45px;
    }
    &__descr {
      padding: 20px;
      &-title {
        font-size: 23px;
        margin-bottom: 15px;
      }
    }
    &__btn {
      width: 200px;
      height: 70px;
    }
  }
  
}

@include phone() {
  .news {
    &__title {
      font-size: 25px;
    }
    &__descr {
      bottom: -150px;
      &-title {
        font-size: 20px;
        margin-bottom: 15px;
      }
      &-link {
        font-size: 17px;
        line-height: 20px;
      }
    }
  }
}