.news {
  margin-bottom: 111px;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
  }
  &__titles {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  &__wrapper {
    height: 210px;
  }
  &__abovetitle {
    @extend %extend-exsample1;
    margin: 0;
  }
  &__title {
    @extend %extend-exsample2;
    text-align: left;
    font-size: 42px;
    margin-right: 59px;
  }
  &__btn {
    @extend %extend-btn;
    background: #fff;
    border: 1px solid $color1;
  }
  &__block-one,
  &__block-two {
    position: relative;
    margin-bottom: 72px;
  }
  &__descr {
    position: absolute;
    bottom: -72px;
    left: 30px;
    width: 610px;
    background: #FFFFFF;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.14);
    border-radius: 30px;
    padding: 50px;
    &-name {
      display: flex;
      flex-direction: row-reverse;
      justify-content: start;
      align-items: flex-start;
      margin-bottom: 10px;
      p {
        font-family: $fonts2;
        margin-left: 10px;
        font-weight: 400;
        font-size: 17px;
        line-height: 23px;
        letter-spacing: 0.36px;
        color: $color1;
      }
    }
    &-title {
      font-family: $fonts2;
      font-weight: 700;
      font-size: 25px;
      line-height: 35px;
      letter-spacing: 0.36px;
      margin-bottom: 38px;
    }
    &-text {
      padding-bottom: 12px;
    }
    &-more {
      font-family: $fonts2;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0.36px;
      margin-top: 10px;
      display: flex;
      align-items: center;
      img {
        margin-left: 10px;
      }
    }
  }
   
}