/* Fonts */
$fonts1: 'Open Sans', sans-serif;
$fonts2: 'Roboto', sans-serif;
$fonts3: 'Yellowtail', cursive; 


/* Color */
$color1: #274C5B;
$color2: #7eb693;
$color3: #525C60;
$color4: #335B6B;
$color5: #FFA858;
$color6: #EFD372;
$color7: #EFF6F1;
$color8: #D4D4D4;
$color9: #B8B8B8;
$color10: #E0E0E0;
$color11: #CCCCCC;
$color12: #D5D5D5;

/* Backgroung */
$bg1: #F9F8F8;
$bg2: #F1F1F1;

/* Breakpoint */
$breakpoint_xxxl: 1409px;
$breakpoint_xxl: 1200px;
$breakpoint_xl: 1024px;
$breakpoint_mb: 767px;
$breakpoint_sm: 576px;
$breakpoint_s: 376px;